---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app vpn-gateway
spec:
  interval: 30m
  chart:
    spec:
      chart: pod-gateway
      version: 7.0.4
      sourceRef:
        kind: HelmRepository
        name: angelnu-charts
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  #See https://github.com/angelnu/helm-charts/blob/main/charts/apps/pod-gateway/values.yaml
  values:
    global:
      fullnameOverride: *app
    image:
      repository: ghcr.io/angelnu/pod-gateway
      tag: v1.13.0@sha256:a5b032e15f7570493977b330a5a86dcffebb807d35685ad803e47afb62d105f2
    settings:
      NOT_ROUTED_TO_GATEWAY_CIDRS: "10.42.0.0/16 10.43.0.0/16 192.168.0.0/24"
      VPN_BLOCK_OTHER_TRAFFIC: true
      VPN_LOCAL_CIDRS: 10.42.0.0/16 10.43.0.0/16 192.168.0.0/24
      VPN_INTERFACE: wg0
      # 51820 is for wireguard
      VPN_TRAFFIC_PORT: 51820
      # 1194 is for openvpn
      #VPN_TRAFFIC_PORT: 1194
      VXLAN_PORT: 4789
      # DNS queries to these domains will be resolved by K8S DNS instead of the default (typcally the VPN client changes it)
      #DNS_LOCAL_CIDRS: "local cluster.local ${DOMAIN} ${SECRET_MAIN_DOMAIN_NAME}"
    podAnnotations:
      configmap.reloader.stakater.com/reload: *app
      secret.reloader.stakater.com/reload: *app
    # -- settings to expose ports, usually through a VPN provider.
    # NOTE: if you change it you will need to manually restart the gateway POD
    #publicPorts:
    #  - hostname: flood
    #    IP: 10
    #    ports:
    #      - type: udp
    #        port: 60112
    #      - type: tcp
    #        port: 60112
    addons:
      vpn:
        enabled: true
        type: gluetun
        gluetun:
          image:
            repository: ghcr.io/qdm12/gluetun
            tag: v3.40.3@sha256:ef4a44819a60469682c7b5e69183e6401171891feaa60186652d292c59e41b30
        env:
          VPN_TYPE: wireguard
          VPN_INTERFACE: wg0
       #  WIREGUARD_MTU: 1320
          FIREWALL_ENABLED_DISABLING_IT_SHOOTS_YOU_IN_YOUR_FOOT: off
          DOT: off
          HTTP_CONTROL_SERVER_ADDRESS: ":80"
          HTTP_CONTROL_SERVER_LOG: off
          PUBLICIP_API: ip2location
        envFrom:
          - secretRef:
              name: vpn-gateway-config
        resources:
          requests:
            cpu: 5m
            memory: 64M
          limits:
            memory: 128M
            squat.ai/tun: "1"
        securityContext:
          capabilities: { add: ["NET_ADMIN"] }
        # network policy is disabled because we need 2 CiliumNetworkPolicies
        networkPolicy:
          enabled: false
      persistence:
      config:
        enabled: true
        type: secret
        name: gluetun
        globalMounts:
          - path: /gluetun/auth/config.toml
            subPath: config.toml
            readOnly: true
    # all namespaces that will utilize the vpn should be added here
    routed_namespaces: &routedNamespaces
      - downloads
    webhook:
      image:
        repository: ghcr.io/angelnu/gateway-admision-controller
        tag: v3.12.0@sha256:6f6ab596afd5fef0ca4648eadfb21cd37ba86fa5afa8b85edcc072976a61fbed

      # -- string: Selector for namespace. boolean
      # All the routed_namespaces will be matched
      namespaceSelector:
        type: custom
        custom:
          matchExpressions:
            - key: kubernetes.io/metadata.name
              operator: "In"
              values: *routedNamespaces

      # -- boolean: Default behaviour for new PODs in the evaluated namespace
      # if true then the gatewayLabel and gatewayAnnotation below will not be utilized and the
      # gateway will be injected into every pod in the routed_namespaces
      gatewayDefault: false

      # -- boolean: gatewayLabel and gatewayAnnotation controls the label/annotation key of which the value,
      #   by default, must be 'true' on the pod in order for the gateway sidecar to be injected.
      gatewayLabel: use-vpn-gateway
      gatewayAnnotation:

      # -- string: When a value is configured for the gatewayLabelValue or setGatewayAnnotationValue,
      #   the value of the label and/or annotation set on the gatewayLabel or gatewayAnnotation
      #   must match the gatewayLabelValue or setGatewayAnnotationValue instead of the default 'true'.
      gatewayLabelValue:
      gatewayAnnotationValue:
  postRenderers:
    - kustomize:
        patches:
          - target:
              kind: Service
              name: *app
            patch: |
              - op: add
                path: /spec/ports/-
                value:
                  name: gluetun
                  port: 80
                  protocol: TCP
                  targetPort: 80
          - target:
              kind: Deployment
              name: *app
            patch: |
              - op: add
                path: /spec/template/spec/containers/1/ports
                value: []
          - target:
              kind: Deployment
              name: *app
            patch: |
              - op: add
                path: /spec/template/spec/containers/1/ports/-
                value:
                  containerPort: 80
                  name: gluetun
                  protocol: TCP
