---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: syncthing
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: syncthing
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controllers:
      syncthing:
        pod:
          nodeSelector:
            kubernetes.io/hostname: hikaru-01
        containers:
          app:
            image:
              repository: ghcr.io/syncthing/syncthing
              tag: 2.0.10
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
            resources:
              requests:
                cpu: 15m
                memory: 150M
              limits:
                memory: 500M
      browser:
        containers:
          app:
            image:
              repository: ghcr.io/haraldkoch/filebrowser
              tag: v2.44.2
            env:
              TZ: ${TIMEZONE:=Etc/UTC}
              FB_DATABASE: /config/filebrowser.db
              FB_ROOT: /var/syncthing
              FB_LOG: stdout
              FB_NOAUTH: true
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /health
                    port: &browserPort 80
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            resources:
              requests:
                cpu: 10m
                memory: 50Mi
              limits:
                memory: 500Mi
        pod:
          securityContext:
            runAsUser: 1000
            runAsGroup: 1000
            fsGroup: 1000
            fsGroupChangePolicy: "OnRootMismatch"
    service:
      app:
        forceRename: syncthing
        controller: syncthing
        primary: true
        ports:
          http:
            port: 8384
      listen:
        controller: syncthing
        type: LoadBalancer
        annotations:
          lbipam.cilium.io/ips: 192.168.99.55
        externalTrafficPolicy: Local
        ports:
          listen:
            port: 22000
            protocol: TCP
            targetPort: 22000
          discovery:
            enabled: true
            port: 21027
            protocol: UDP
            targetPort: 21027
          listen-udp:
            enabled: true
            port: 22000
      browser:
        controller: browser
        ports:
          http:
            port: *browserPort
    route:
      app:
        hostnames: ["{{ .Release.Name }}.${SECRET_DOMAIN}"]
        parentRefs:
          - name: envoy-internal
            namespace: network
            sectionName: https
        rules:
          - backendRefs:
              - identifier: app
                port: 8384
      browser:
        hostnames: ["sync.${SECRET_DOMAIN}"]
        parentRefs:
          - name: envoy-internal
            namespace: network
            sectionName: https
        rules:
          - backendRefs:
              - identifier: browser
                port: *browserPort
    persistence:
      # TODO: volsync
      config:
        type: persistentVolumeClaim
        suffix: config
        size: 1Gi
        storageClass: linbit-replicated
        accessMode: ReadWriteOnce
        globalMounts:
          - path: /config
      data:
        type: persistentVolumeClaim
        size: 1000Gi
        storageClass: linbit-local
        accessMode: ReadWriteOnce
        globalMounts:
          - path: /var/syncthing