---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app samba
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: samba
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controllers:
      samba:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/crazy-max/samba
              tag: 4.21.4@sha256:75f5037770eab774b82f298268305af8a18a01a1daad679f8d2d17c54059c847
            env:
              SAMBA_HOSTS_ALLOW: "127.0.0.0/8 10.0.0.0/8 172.16.0.0/12 192.168.0.0/16 192.168.99.0/24"
              # SAMBA_SERVER_STRING: &serverstring "smb.${SECRET_MAIN_DOMAIN_NAME}"
              # WSDD2_ENABLE: "1"
            resources:
              requests:
                cpu: 5m
                memory: 32Mi
              limits:
                memory: 2G

    service:
      app:
        controller: *app
        type: LoadBalancer
        annotations:
          lbipam.cilium.io/ips: 192.168.99.30
        ports:
          samba:
            enabled: true
            port: 445
            targetPort: 445
          samba-udp:
            enabled: true
            protocol: UDP
            port: 445
            targetPort: 445
          wsdd:
            enabled: true
            port: 3702
            targetPort: 3702
          wsdd-udp:
            enabled: true
            protocol: UDP
            port: 3702
            targetPort: 3702
          llmnr:
            enabled: true
            port: 5355
            targetPort: 5355
          llmnr-udp:
            enabled: true
            protocol: UDP
            port: 5355
            targetPort: 5355

    persistence:
      config:
        enabled: true
        type: secret
        name: samba
        globalMounts:
          - path: /data/config.yml
            subPath: samba.yaml
            readOnly: true
      media:
        enabled: true
        type: persistentVolumeClaim
        existingClaim: nfs
        globalMounts:
        - path: /mnt
          readOnly: false