# flux/apps/curl-test-pod.yaml
apiVersion: v1
kind: Pod
metadata:
  name: curl-test
  namespace: default
spec:
  restartPolicy: Never
  containers:
    - name: curl
      image: curlimages/curl:latest
      command: ["/bin/sh", "-c"]
      args: ["curl https://ifconfig.me; sleep 3600"]
