apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: nfs-ganesha-server
spec:
  interval: 15m
  chart:
    spec:
      chart: nfs-server-provisioner
      version: 1.8.0
      sourceRef:
        kind: HelmRepository
        name: nfs-provisioner-charts
  install:
    replace: true
    remediation:
      retries: 3
  upgrade:
    force: true
    preserveValues: true
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
  # https://github.com/kubernetes-sigs/nfs-ganesha-server-and-external-provisioner/blob/master/charts/nfs-server-provisioner/values.yaml
    persistence:
      enabled: true
      storageClass: linbit-local
      size: 20Gi
    storageClass:
      defaultClass: true
