apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: nfs-ganesha-server
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: nfs-ganesha-server
  install:
    replace: true
    remediation:
      retries: 3
  upgrade:
    force: true
    preserveValues: true
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    controllers:
      nfs-ganesha-server:
        strategy: RollingUpdate
        containers:
          app:
            image:
              repository: ghcr.io/hi-fi/nfs-ganesha
              tag: v6.5
    replicaCount: 1
    persistence:
      config:
        enabled: true
        type: persistentVolumeClaim
        accessMode: ReadWriteOnce
        size: 20Gi
        storageClass: linbit-local
    service:
      app:
        controller: nfs-ganesha-server
        primary: true
        ports:
          http:
            port: 2049
    nfs:
      # Path exported by the NFS server
      path: /export
      # Which network CIDR is allowed to mount
      allowedClients: 10.0.0.0/8
    storageClass:
      create: true
      defaultClass: false
      name: nfs-client
      reclaimPolicy: Delete
      provisionerName: cluster.local/nfs-nfs-ganesha-server
      allowVolumeExpansion: true
      parameters:
        archiveOnDelete: "false"

