---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app homepage
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: homepage
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      homepage:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/gethomepage/homepage
              tag: v1.6.1@sha256:8c7ec6a3c9094af7ac0686aa361fed3129264a8ed2c17594d5114a5e8342f7c9
            env:
              TZ: Europe/London
              HOMEPAGE_ALLOWED_HOSTS: homepage.${SECRET_DOMAIN}
          #  envFrom:
          #    - secretRef:
          #        name: homepage-secret
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: false
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 10m
                memory: 100Mi
              limits:
                memory: 300Mi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 568
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile: { type: RuntimeDefault }
    service:
      app:
        controller: *app
        ports:
          http:
            port: 3000
    serviceAccount:
      homepage: {}
    rbac:
      roles:
        app:
          forceRename: *app
          type: ClusterRole
          rules:
            - apiGroups: [""]
              resources: ["namespaces", "nodes", "pods"]
              verbs: ["get", "list"]

            - apiGroups: ["extensions", "networking.k8s.io"]
              resources: ["ingresses"]
              verbs: ["get", "list"]

            - apiGroups: ["metrics.k8s.io"]
              resources: ["nodes", "pods"]
              verbs: ["get", "list"]

            - apiGroups: ["apiextensions.k8s.io"]
              resources: ["customresourcedefinitions/status"]
              verbs: ["get"]
      bindings:
        app:
          forceRename: *app
          type: ClusterRoleBinding
          roleRef:
            kind: ClusterRole
            name: *app
            apiGroup: rbac.authorization.k8s.io
          subjects:
            - kind: ServiceAccount
              name: *app
              namespace: default
    route:
      app:
        hostnames: ["{{ .Release.Name }}.${SECRET_DOMAIN}"]
        parentRefs:
          - name: envoy-internal
            namespace: network
            sectionName: https
        rules:
          - backendRefs:
              - port: 3000
                name: *app
    persistence:
      logs:
        type: emptyDir
        globalMounts:
          - path: /app/config/logs
      config:
        type: emptyDir
        globalMounts:
          - path: /app/config
      services:
      #  type: secret
      #  name: *app
        globalMounts:
          - subPath: services.yaml
            path: /app/config/services.yaml
            readOnly: true
      configmap:
        type: configMap
        name: *app
        globalMounts:
          - subPath: bookmarks.yaml
            path: /app/config/bookmarks.yaml
            readOnly: true
          - subPath: docker.yaml
            path: /app/config/docker.yaml
            readOnly: true
          - subPath: kubernetes.yaml
            path: /app/config/kubernetes.yaml
            readOnly: true
          - subPath: settings.yaml
            path: /app/config/settings.yaml
            readOnly: true
          - subPath: widgets.yaml
            path: /app/config/widgets.yaml
            readOnly: true