---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./helmrelease.yaml
  - ./ocirepository.yaml
configMapGenerator:
  - name: homepage
    files:
      - ./resources/bookmarks.yaml
      - ./resources/docker.yaml
      - ./resources/kubernetes.yaml
      - ./resources/services.yaml
      - ./resources/settings.yaml
      - ./resources/widgets.yaml
generatorOptions:
  disableNameSuffixHash: true